<!-- MENU -->
<div class="home">
    <div class="home-content">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <!-- <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Menú Inicio</button> -->
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="card card-style">
                    <div style="padding: 20px;">
                        <div class="row">
                            <div class="col-sm-4 col-lg-2">
                                <a class="text-dark" href="#">
                                    <div class="card">
                                        <div class="card-body pb-6">
                                            <div class="icon-style">
                                                <i class="fa fa-gear fa-3x"></i>
                                            </div>
                                        </div>
                                        <div class="chart-wrapper mt-3 mx-3" style="height: 70px;">
                                            <div class="text-style">
                                                CONFIGURACIONES
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4 col-lg-2">
                                test
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
