.home-content{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-style{
    border-top: none;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.icon-style{
    text-align: center;
}

.text-style{
    text-align: center;
}